.App {
  text-align: center;
  background-color:  rgb(24,27,40);
  margin: 10px 20px 10px 20px ;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24,27,40);
  text-decoration: none;
}
.navbar a {
  color: white;
  padding: 20px 20px;

}

.header {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  display: flex;
  justify-content: left;
  position: relative;
  z-index: 2;
  
}

.header p {
  position: relative;
  font-size: 1rem;
  z-index: 2;
  font-weight:600;
  
}
.header h1 {
  position: relative;
  z-index: 2;
}

#atomo {
  width: 35%;
  position: absolute;
  margin-bottom: -70px;
  margin-top: -150px; 
  margin-left: -16vw;
  margin-right: auto;
  opacity: 0.6;
  /* z-index: 1; */
  /* padding-bottom: 100px;  */
  
}
#atom {
  position: relative;
  z-index: 1;
}

.snippet-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 10px;
  font-size: 0.7rem;
  background-color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.snippet-container img  {
  width: 60%;
}

.snippet-container p {
  width: 150px;
  margin-left: 15px;
  
}
.components img {
  margin-top: 10px;
}

.button {
  background-image: linear-gradient(rgb(9, 185, 255),rgba(0, 242, 255, 0.499) );
  height: 50px;
  width: 120px;
  color:  rgb(24,27,40);
  background-color: white;
  border-radius: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  box-shadow: 0px 0px 5px rgba(0, 242, 255, 0.499);
  margin-top: 50px;
  margin-bottom: 100px;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
